## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_types = application_df['CLASSIFICATION'].value_counts()
class_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_cleaned = class_types.loc[class_types > 1]
class_cleaned

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_types.iloc[5:].index)
cutoff_value_classifications = 1883

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other_classification")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

KeyError: ignored

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 872

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 923
Trainable params: 923
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6514 - accuracy: 0.6841
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5718 - accuracy: 0.7210
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5603 - accuracy: 0.7257
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5563 - accuracy: 0.7267
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7300
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7304
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7315
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7323
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7330
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7331
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7341
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7326
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7329
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7335
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7340
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7334
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7342
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7332
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7350
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7340
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7350
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7360
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7354
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7348
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7350
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7354
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7345
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7357
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7365
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7353
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7359

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5548 - accuracy: 0.7285 - 309ms/epoch - 1ms/step
Loss: 0.5548169612884521, Accuracy: 0.7285131216049194

In [26]:
# Export our model to HDF5 file
filepath = r"C:\Users\josep\ucf\homework\21-deep_learning\deep-learning-challenge\AlphabetSoupCharity.h5"
nn.save(filepath, save_format='h5')